.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

.body {
  max-width: 80vw;
  max-height: 80vh;
}

.image {
  height: 80vh;
  max-width: 80vw;
  object-fit: contain;
}
